@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-monda;
    }

    p {
        @apply font-archivo;
        @apply text-white;
    }
}

/* Exemple : bouton */
@layer components {}

body {
    background: radial-gradient(#2E2E2E, #1A1A1A);
    min-height: 100vh;
}

.nav-active p {
    visibility: visible;
    @apply text-vertClair;
}

.nav-active svg,
.nav-selected {
    @apply fill-vertClair stroke-vertClair opacity-100;
}

.steps {
    position: relative;
}

.steps::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto auto;
    height: 1px;
    width: 25rem;
    background-color: #d2d2d2;
    z-index: -1;
}

#container-timeline {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

.image-box {
    margin-top: auto;
    margin-bottom: auto;
}